
#container{
	height: 100vh;
	color: white;
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
}

#menu{
	position: fixed;
	width: 280px;
	background-color: #101b21;
	height: 100%;
	z-index: 100;
}

#menu-container{
	padding: 30px;
}

#profile_pic{
	/*border-radius: 1000px;*/
	text-align: center;
	display: block;
	margin: 20px auto 20px auto;
}

#pagesbar{
	height: 60px;
	margin-left: 280px;
	background-color: #101b21;
	position: fixed;
	width: 100%;
	z-index: 100;
}

#menu-items-header{
	display: inline-block;
	height: 60px;
	line-height: 60px;
	text-align: center;
	vertical-align: middle;
	padding: 0 10px 0 10px;
}

#menu-items-header-mobile{
	display: none;
}

#menu-items{
	padding-left: 0;
	display: inline-block;
	margin: 0;
}

#menu-items li{
	height: 40px;
	line-height: 40px;
	padding: 0 10px 0 10px;
	margin-right: 10px;	
	display: Inline-block;
	color: #ffffff;
	background-color: #5a5a6a;
	text-align: center;
	vertical-align: middle;
	border-radius: 14px;
	cursor: pointer;
	text-shadow: 0px 0px 1px #000000, 0px 0px 1px #000000, 0px 0px 1px #000000, 0px 0px 1px #000000;
	transition: all 0.3s;
}

#menu-items li.disabled{
	color: #4d4d5f;
	background-color: #25252e;
	cursor: default;
}

#menu-items li.active{
}

#content{
	/*background-color: #fffff3;*/
	height: 100%;
	margin-left: 280px;
	padding: 60px 0 0 0;
	color: black;
	/*padding-top: 60px;*/
}

#page-container{
	height: 100%;
	width: 100%;
	position: relative;
	overflow-x: hidden;
}

.page{
	width: 100%;
	position: absolute;
	transition: all 0.65s;
	box-shadow: 0px 0px 20px #000000;
	background-color: #fffffc;
}

.page[data-page-index*="1"]{
	background-color: #222222;
}

.page-item-shadow{
	-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.6);
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.6);
}
	
.slidepage-header{
	height: inherit;
	width: 60px;
	float: left;
	z-index: 1;
	position: relative;
	cursor: pointer;
	transition: all 0s, -webkit-filter 0.3s, filter 0.3s;
	filter: brightness(100%);
	-webkit-filter: brightness(100%);
}

.slidepage-header.disabled{
	filter: brightness(50%);
	-webkit-filter: brightness(50%);
	cursor: default;
}

.slidepage-header.darken-hover{
	filter: brightness(50%);
	-webkit-filter: brightness(50%);
}

.slidepage-header.darken-hover:hover, .slidepage-header.darken-hover-active{
	filter: brightness(100%);
	-webkit-filter: brightness(100%);
}

.slidepage-header.disabled:hover, .slidepage-header.darken-hover-active.disabled{
	filter: brightness(50%);
	-webkit-filter: brightness(50%);
}

.slidepage-content{
	margin-left: 60px;
	/*background-color: #E9EFF2;*/
}

.content-padding{
	padding: 10px;
}

.sort-items-title{
	height: 40px;
	line-height: 40px;
	font-size: 22px;
	vertical-align: middle;
}

.sort-items-container{
	padding-left: 0;
	margin: 0 0 10px 15px;
	float: left;
}

.sort-items-container ul{
	display: inline;
	padding-left: 10px;
}

.sort-items-container li{
	margin-top: 5px;
	height: 40px;
	line-height: 40px;
	padding: 0 10px 0 10px;
	margin-right: 10px;	
	display: Inline-block;
	/*color: #e9caff;*/
	background-color: #626262; /*#e9caff*/
	text-align: center;
	vertical-align: middle;
	border-radius: 14px;
	cursor: pointer;
	/*text-shadow: 0px 0px 1px #000000, 0px 0px 1px #000000, 0px 0px 1px #000000, 0px 0px 1px #000000;*/
	transition: all 0.3s;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.6);
	box-shadow: 0 0 3px rgba(0,0,0,0.6);
}

.sort-items-container li.active{
	background-color:#e9caff;
	color:#626262;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.6);
	box-shadow: inset 0 0 3px rgba(0,0,0,0.6);
}

*[data-sort-color*="0"]{
	color: #cad8ff; 
}
.sort-items-container li[data-sort-color*="0"].active{
	background-color: #cad8ff;
	color: #626262;
}

*[data-sort-color*="1"]{
	color: #cafffe;
}
.sort-items-container li[data-sort-color*="1"].active{
	background-color: #cafffe;
	color: #626262;
}

*[data-sort-color*="2"]{
	color: #caffca;
}
.sort-items-container li[data-sort-color*="2"].active{
	background-color: #caffca;
	color: #626262;
}

*[data-sort-color*="3"]{
	color: #ffffca;
}
.sort-items-container li[data-sort-color*="3"].active{
	background-color: #ffffca;
	color: #626262;
}
/*#sort-items li:first-child{
	background: #aeaeae;
	color: white;
	-webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
	box-shadow: 0 0 0 rgba(0,0,0,0);
}*/

.grid-item { 
	width: 23%; 
	min-width: 280px;
	max-width: 400px;
	margin: 10px;
	cursor: pointer;
	overflow: hidden;
	line-height: 0px;
	border-radius: 5px;
	transform-style: flat;
}

.grid-item img, .grid-item video{
	width: 100%;	
	border-radius: 5px;
	-webkit-filter: grayscale(55%);
	filter: grayscale(55%);
	transition: all 0.5s;
	/*border: 2px black solid;*/
}

.grid-item *{
	transform: translate3d(0,0,0) scale(1.0);
}

.grid-item-overlay-container{
	width: 100%;
	height: 40px;
	background-color:rgba(16,27,33, 0.75);
	position: absolute;
	bottom: -40px;
	border-radius: 0px;
	/*-webkit-filter: grayscale(0%);
	filter: grayscale(0%);*/
	/*color: white;*/
	font-size: 26px;
	text-align: center;
	transition: bottom 0.5s;
}

.grid-item-overlay-container span{
	line-height: 40px;
}

.grid-item video{
	position: absolute;
	top: 0px;
	left: 0px;
}

.grid-item:hover *{
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	/*transform: scale(1.05);*/
}

#page2-container{
	padding-top: 30px;
	padding-bottom: 30px;
}

#page2-content{
	width: 100%;
	max-width: 800px;
	position: relative;
	z-index: 1;
	margin: 0 auto;
	color: white;
}

#page2-padding{
	padding: 0 20px 14px 20px;
	background-color: rgba(16,27,33, 0.75);
	border-radius: 20px;
}

#page2-content th{
	width: 80px;
}

#page2-content td:not(:first-child){
}

#page2-content table{
	width: 100%;
}

#page2-title{
	padding: 0.5em 0 0.5em 0;
	margin: 0 0 0 0;
}

#page2-content tr td, #page2-content tr th{
	line-height: 1.3;
	vertical-align: top;
	text-align: left;	
	padding: 6px;
	border-top: 1px solid rgba(100, 100, 100, 1.0);
}

#page2-content tr th:nth-child(3){
	border-left: 1px solid rgba(100, 100, 100, 1.0);
}

#page2-content tr td:last-of-type, #page2-content tr th:last-of-type{
	border-bottom: 1px solid rgba(100, 100, 100, 1.0);
}

#page2-content a:visited{
	color: #d24cff;
}

#page2-content a:link{
	color: #4c79ff;
}

#page2-bg{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	overflow: hidden;
}

.page2-backbutton{
	width: 70px;
	text-align: center;
	padding: 3px;
	border-radius: 10px;
}

#page2-content ul{
	margin: 0;
	padding-left: 20px;
}

#page2-content ul li{
	margin: 0.2em 0 0.2em 0;
}

#bg_itemvideo{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: fill;
	/*-webkit-filter: blur(20px) grayscale(60%) brightness(50%);
	filter: blur(20px) grayscale(60%);*/
	top: 0px;
	left: -6px;
}

#aboutme-container{
	width: 90%;
}

#cv-container{
	height: 95%;
	padding-right:60px;
	max-width: 1000px;
}

#cv-container iframe{
	width: 100%;
	height: 100%;
}

.page[data-page-index*="3"] .slidepage-content{
	height: 90vh;
}

/*#aboutme-container p, #aboutme-container h1, #aboutme-container h2{
	margin: 0;
}*/

#contact-container{
	width: 600px;
}

.form-group{
	margin-bottom: 20px;
}

#contact-extra-info{
	text-align: center;
}

.form-control{
	width: 100%;
	height: 34px;
	padding: 0 12px 0 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-group label{
	line-height: 2.4;
}

#InputMessage{
	height: 170px;
}

#contactSuccess, #contactFailure{
	transition-duration: 0s;
	transition-property: opacity;
}

@media (max-width: 1160px){
	#page2-bg {
		display: none;
	}
}
	
@media (max-width: 1457px) and (min-width: 1160px){
	#page2-content .yt-aspect-ratio{
		padding-bottom: 42.05%;
		max-width: 74.5%;
	}
}

@media (max-width: 1159px){
	#page2-content .yt-aspect-ratio{
		padding-bottom: 56.3%;
		max-width: 100%;
		margin-bottom: 0px;
	}

	.slidepage-content #page2-container{
		padding-top: 0px;
	}
}

@media (max-width: 1457px) and (min-height: 840px) and (orientation: landscape){
	#page2-content{
		max-width: 650px;
	}
}

@media (max-height: 839px) and (orientation: landscape){
	#page2-content{
		max-width: 550px;
	}
}

@media (max-width: 1457px) and (min-width: 839px){	
	#page2-content{
		width: 100%;
		margin-top: 0px;
	}
}

@media (max-width: 838px){
	#container{
		height: auto;
	}
	
	#profile_pic{
		margin-bottom: 0px;
	}

	#menu{
		position: static;
		height: auto;
		width: 100%;
	}

	#pagesbar{
		position: static;
		width: 100%;
		margin-left: 0px;
		height: auto;
	}

	#content{
		height: 100%;
		margin-left: 0px;
		padding: 0;
	}
	
	#menu-container{
		padding: 20px 30px 20px 30px;
		text-align: center;
	}
	
	#page-container{
		height: auto;
		position: static;
		overflow-x: visible;
	}
	
	.page{
		transition: 0s;
		display: none;
		height: auto;
	}
	
	#contact-container{
		width: 100%;
	}
	
	.form-control{
		width: 90%;
	}
	
	#menu-items-header{
		display:none;
	}
	
	#menu-items-header-mobile{
		display: block;
		font-size: 30px;
		text-align: center;
		cursor: pointer;
	}
	
	#menu-items{
		/*display: none;*/
		display: block;
	}
	
	#menu-items li{
		display: block;
		width: 100%;
		border-radius: 0px;
		padding: 0;
	}
	
	.slidepage-header{
		width: 20px;
	}
	
	.slidepage-header, .slidepage-content{
		display: flex;
	}
	
	.slidepage-content{
		margin-left: 20px;
	}
	
	.grid-item{
		min-width: 0px;
	}
	
	.grid-item video{
		display: none;
	}
	
	.grid-item img, .grid-item video{
		-webkit-filter: grayscale(0%);
		filter: grayscale(0%);
		transition: 0s;
		/*border: 2px black solid;*/
	}
	
	#bg_itemvideo{
		display: none;
	}
	
	#page2-bg {
		display: none;
	}
	
	#page2-content{
		width: 100%;
		border-radius: 0px;
		margin-top: 0px;
	}
	
	#cv-container{
		height: 100%;
		padding-right:20px;
	}
}

@media (max-width: 838px) and (min-width: 601px){
	.grid-item{
		width: 46%;
	}
}

@media (max-width: 600px) {
	.grid-item{
		width: 94%;
	}
}

#menu-items li[data-page-color*="0"]:not(.disabled):hover, #menu-items li.highlight[data-page-color*="0"]:not(.disabled){
	background: #782b03;
}
#menu-items li[data-page-color*="1"]:not(.disabled):hover, #menu-items li.highlight[data-page-color*="1"]:not(.disabled){
	background: #a36100;
}
#menu-items li[data-page-color*="2"]:not(.disabled):hover, #menu-items li.highlight[data-page-color*="2"]:not(.disabled){
	background: #b19600;
}
#menu-items li[data-page-color*="3"]:not(.disabled):hover, #menu-items li.highlight[data-page-color*="3"]:not(.disabled){
	background: #2c8839;
}
#menu-items li[data-page-color*="4"]:not(.disabled):hover, #menu-items li.highlight[data-page-color*="4"]:not(.disabled){
	background: #004745;
}

*[data-page-color*="0"], #menu-items li.active[data-page-color*="0"]:not(.disabled){
    background: #e05106;
}
*[data-page-color*="1"], #menu-items li.active[data-page-color*="1"]:not(.disabled){
    background: #ffc570;
}
*[data-page-color*="2"], #menu-items li.active[data-page-color*="2"]:not(.disabled){
    background: #FFEB79;
}
*[data-page-color*="3"], #menu-items li.active[data-page-color*="3"]:not(.disabled){
    background: #A0E0A9;
}
*[data-page-color*="4"], #menu-items li.active[data-page-color*="4"]:not(.disabled){
    background: #00ADA7;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  z-index: 2000;
  position: fixed;
  height: 90px;
  width: 90px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.pace.pace-inactive .pace-activity {
  display: none;
}

.pace .pace-activity {
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  left: -30px;
  top: -30px;
  height: 90px;
  width: 90px;
  display: block;
  border-width: 30px;
  border-style: double;
  border-color: #fffffc transparent transparent;
  border-radius: 50%;

  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  -o-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.pace .pace-activity:before {
  content: ' ';
  position: absolute;
  top: 10px;
  left: 10px;
  height: 50px;
  width: 50px;
  display: block;
  border-width: 10px;
  border-style: solid;
  border-color: #fffffc transparent transparent;
  border-radius: 50%;
}

@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(359deg); }
}

@-moz-keyframes spin {
  100% { -moz-transform: rotate(359deg); }
}

@-o-keyframes spin {
  100% { -moz-transform: rotate(359deg); }
}

@keyframes spin {
  100% {  transform: rotate(359deg); }
}

.btn{
	border: 1px solid transparent;
	color: #fff;
	background-color: #31b0d5;
	cursor: pointer;
	padding: 4px 0 4px 0;
}

.btn:hover{
	background-color: #2490af;
}

a {
	color: #337ab7;
	text-decoration: none;
}

a:hover {
	color: #285f8f;
	text-decoration: default;
}

.yt-aspect-ratio{
	position: relative;
	width: 100%;
	margin: 0 auto;
	height: 0;
	/*padding-bottom: 56.3%;*/
	/*
	padding-bottom: 35.05%;
	max-width: 500px;
	*/
	padding-bottom: 42.05%;
	max-width: 600px;
	margin-bottom: 20px;
}

.yt-aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.alert.alert-success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
}

.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.alert.alert-danger {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
}